apt-xapian-index==0.47
apturl==0.5.2
chardet==2.3.0
command-not-found==0.3
cryptography==1.7.1
distro-info===0.14build1
idna==2.2
keyring==10.3.1
keyrings.alt==2.2
language-selector==0.1
mccabe==0.5.2
pexpect==4.2.1
Pillow==4.0.0
ptyprocess==0.5.1
pyasn1==0.1.9
pycrypto==2.6.1
pycups==1.9.73
pydocstyle==1.0.0
pyflakes==1.3.0
pygobject==3.22.0
pylama==7.3.3
python-apt==1.4.0b2
python-debian==0.1.30
pyudev==0.21.0
pyxdg==0.25
PyYAML==3.12
reportlab==3.3.0
requests==2.10.0
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
six==1.11.0
systemd-python==233
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.15.1
xkit==0.0.0
